In [1]:
print("hi")

hi

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
sns.set(style='whitegrid')

import warnings
warnings.filterwarnings("ignore")

In [7]:
df_iit_2022 = pd.read_csv("./data/ranks2022.csv")
df_iit_2023 = pd.read_csv("./data/ranks2023.csv")
df_iit_2024 = pd.read_csv("./data/ranks2024.csv")
        
df_nit_2022 = pd.read_csv("./data/nits2022.csv")
df_nit_2023 = pd.read_csv("./data/nits2023.csv")
df_nit_2024 = pd.read_csv("./data/nits2024.csv")
        
df_iiit_2022 = pd.read_csv("./data/IIITs2022.csv")
df_iiit_2023 = pd.read_csv("./data/IIITs2023.csv")
df_iiit_2024 = pd.read_csv("./data/IIITs2024.csv")
        
df_gfti_2022 = pd.read_csv("./data/GFTIs2022.csv")
df_gfti_2023 = pd.read_csv("./data/GFTIs2023.csv")
df_gfti_2024 = pd.read_csv("./data/GFTIs2024.csv")

In [8]:
df_iit_2022.head()

,Institute,Program,Seat Type,Gender,OR,CR
0,IIT Bhubaneswar,"Civil Engineering (4 Years, B. Tech)",OPEN,Gender-Neutral,9193,13624
1,IIT Bhubaneswar,"Civil Engineering (4 Years, B. Tech)",OPEN,Female-only (including Supernumerary),16138,21674
2,IIT Bhubaneswar,"Civil Engineering (4 Years, B. Tech)",EWS,Gender-Neutral,1907,2171
3,IIT Bhubaneswar,"Civil Engineering (4 Years, B. Tech)",EWS,Female-only (including Supernumerary),3334,3334
4,IIT Bhubaneswar,"Civil Engineering (4 Years, B. Tech)",OBC-NCL,Gender-Neutral,4094,4615